<!doctype html>
<html>
  <body>
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'15px'" class="layoutGrid">
      <mat-grid-tile rowspan="1" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header>
          <h1>Meine Events</h1>
        </mat-grid-tile-header>

        <mat-list>
          <mat-list-item *ngFor="let item of eventlist" (click)="onCardClick($event)">
            <mat-card class="card">
              <img mat-card-sm-image src="{{item.image}}" alt = "" class = "mat-card-image">
              <div class="card-content">
                <mat-card-header>{{item.title}}</mat-card-header>
                <mat-card-content>{{item.description}}</mat-card-content>
              </div>
            </mat-card>
          </mat-list-item>
        </mat-list>

      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header>
          <h1>Kalender</h1>
        </mat-grid-tile-header>
        <mat-calendar></mat-calendar>
      </mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header>
          <h1>Neuigkeiten</h1>
        </mat-grid-tile-header>
        <mat-list>
          <mat-list-item *ngFor="let item of eventlist" (click)="onCardClick($event)">
            <mat-card class="card" >
              <img mat-card-sm-image src="{{item.image}}" alt = "" class = "mat-card-image">
              <div class="card-content">
                <mat-card-header>{{item.title}}</mat-card-header>
                <mat-card-content>{{item.description}}</mat-card-content>
              </div>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </body>
</html>

