<!doctype html>
<html>
  <body>
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'15px'" class="layoutGrid">
      <mat-grid-tile rowspan="1" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header class="mat-grid-tile-header-left">
          <h1>Meine Events</h1>
        </mat-grid-tile-header>

        <mat-list>
          <mat-list-item *ngFor="let event of registeredEvents" (click)="onCardClick($event)">
            <mat-card class="card">
              <img mat-card-sm-image src="{{event.imageSource}}" alt = "" class = "mat-card-image">
              <div class="card-content">
                <mat-card-header>{{event.name}}</mat-card-header>
                <mat-card-content>{{event.description}}</mat-card-content>
              </div>
            </mat-card>
          </mat-list-item>
        </mat-list>

      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header class="mat-grid-tile-header-right">
          <h1>Kalender</h1>
        </mat-grid-tile-header>
        <mat-calendar></mat-calendar>
      </mat-grid-tile>
      <mat-grid-tile rowspan="1" colspan="1" class="layoutGridTile">
        <mat-grid-tile-header class="mat-grid-tile-header-left">
        </mat-grid-tile-header>
        <mat-tab-group class="invitation-tabs" dynamicHeight>
          <mat-tab label="Event-Einladungen">
              <mat-list>
                <mat-list-item *ngFor="let event of invitedEvents" (click)="onCardClick($event)">
                  <mat-card class="card" (click)="openCard()">
                    <img mat-card-sm-image src="{{event.imageSource}}" alt = "" class = "mat-card-image">
                    <div class="card-content">
                      <mat-card-header>{{event.name}}</mat-card-header>
                      <mat-card-content>{{event.description}}</mat-card-content>
                    </div>
                  </mat-card>
                </mat-list-item>
              </mat-list>
          </mat-tab>
          <mat-tab label="Organisations-Einladungen">
              <mat-list>
                <mat-list-item *ngFor="let organisation of invitedOrganisations">
                  <mat-card class="card">
                    <!--<img mat-card-sm-image src="{{organisation.logo}}" alt = "" class = "mat-card-image">-->
                    <div class="card-content">
                      <mat-card-header>{{organisation.name}}</mat-card-header>
                      <mat-card-content>{{organisation.location}}</mat-card-content>
                    </div>
                  </mat-card>
                </mat-list-item>
              </mat-list>
          </mat-tab>
        </mat-tab-group>
      </mat-grid-tile>
    </mat-grid-list>

    <app-organisation-card *ngIf = "showCard" (onClose) ="closeCard()"></app-organisation-card>
  </body>
</html>

