<!doctype html>
<html>
<div class ="popup-background">
  <div class="popup">
        <button mat-fab (click)="closeCard()" class = "close-Button">
          <mat-icon class ="close-Icon">close</mat-icon>
        </button>

    <div class="card-header">
      <img mat-card-image src="{{imageSource}}" class="banner">
      <div class="status">{{eventStatus}}</div>
    </div>

      <mat-tab-group class="tab-group" dynamicHeight = true>
        <mat-tab label="Eventkarte">
          <h1>{{eventData.name}}</h1>
          <h2>Beschreibung</h2>
          <p>{{eventData.description}}</p>
          <h2>Zeit</h2>
          <p>
            Beginnt am {{eventData.startDate | date: 'dd.MM.yyyy'}} um {{eventData.startTime}}
          </p>
          <p>
            Endet am {{eventData.endDate | date: 'dd.MM.yyyy'}} um {{eventData.endTime}}
          </p>
          <h2>Ort</h2>
          <p>
            {{eventData.location}}
          </p>
          <h3>Teilnehmeranzahl</h3>
          <p *ngIf="attendees">
            {{attendees.length}}
          </p>
        </mat-tab>
        <mat-tab label="Eventguide">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>Chat</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div  #chatContainer style="height: 150px; overflow-y: scroll;margin-bottom: 1%">
                <div>
                  <mat-icon>chevron_right</mat-icon>
                </div>
              </div>
              <mat-form-field style="display: flex; width: 80%; justify-content: center; align-content: center">
                <input matInput placeholder="Enter text" >
                <button mat-icon-button matSuffix >
                  <mat-icon>send</mat-icon>
                </button>
              </mat-form-field>
            </mat-card-content>
          </mat-card>

          <!--mat-card zum Uploaden und Anzeigen von Dateien-->
          <mat-card class="dashboard-card">
            <mat-card-header style="position: relative; display: flex; width: 100%; margin: 10px">
              <div class="tableControlls"
                   style="position:relative; justify-self: stretch; width: 100%; text-align: right">
                <mat-card-title style="float: left">Dateien</mat-card-title>
                <ngx-mat-file-input  style="float: right; margin-right: 45px">
                </ngx-mat-file-input>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class = "fileTable">
                <mat-table [dataSource]="dataSource" matSort class = "">
                  <ng-container matColumnDef="FirstName">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="LastName">
                    <mat-header-cell *matHeaderCellDef>Typ der Datei</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="eMail">
                    <mat-header-cell *matHeaderCellDef>Größe der Datei</mat-header-cell>
                    <mat-cell *matCellDef="let user">{{user.emailAdress}}</mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                      <button mat-icon-button >
                        <mat-icon>download</mat-icon>
                      </button>
                      <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Teilnehmerverwaltung" class = "tab-attendee">
          <div>
            <button mat-raised-button (click) = "openAddUsertoEvent()" class = "addPerson">
              Teilnehmer hinzufügen
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
          <div class = "attendeeTable">
            <mat-table [dataSource]="dataSource" matSort class = "">
              <ng-container matColumnDef="FirstName">
                <mat-header-cell *matHeaderCellDef>Vorname</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef>Nachname</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="eMail">
                <mat-header-cell *matHeaderCellDef>E-Mail-Adresse</mat-header-cell>
                <mat-cell *matCellDef="let user">{{user.emailAdress}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <button mat-icon-button (click)="removeUser(user)">
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>



        </mat-tab>
        <mat-tab label="Eventverwaltung">
          <div class = "editForm">
            <form #form="ngForm"(ngSubmit)="onChangeEvent(form)">
              <div class="form-div">
                <p>
                  <mat-form-field appearance="fill" style="position: relative; width: 100%">
                    <mat-label>Titel des Events</mat-label>
                    <input matInput placeholder="Name des Events" [(ngModel)]="eventData.name" name="eventName" required>
                    <mat-error *ngIf="!eventName">Titel wird benötigt</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="fill" style="position: relative; width: 100%">
                    <mat-label>Beschreibung des Events</mat-label>
                    <input matInput placeholder="Beschreibung des Events" [(ngModel)]="eventData.description" name="eventDescription" required>
                    <mat-error *ngIf="!eventDescription">Beschreibung wird benötigt</mat-error>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field appearance="fill" style="position: relative; width: 100%">
                    <mat-label>Art des Events</mat-label>
                    <input matInput placeholder="Art des Events" [(ngModel)]="eventData.type" name="eventType" required>
                    <mat-error *ngIf="!eventType">Beschreibung wird benötigt</mat-error>
                  </mat-form-field>
                </p>
                <div>
                  <p>
                    <mat-form-field appearance="fill" style="position: relative; width: 47.5%; float: left">
                      <mat-label>Startzeit</mat-label>
                      <input matInput placeholder="12:30" [(ngModel)]="eventData.startTime" name="eventStartTime" inputmode="numeric" pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"  required>
                      <mat-error *ngIf="!eventStartTime">Startzeit wird benötigt</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill" style="position: relative; width: 47.5%; float: left; padding-left: 5%">
                      <mat-label>Endzeit</mat-label>
                      <input matInput placeholder="13:30" [(ngModel)]="eventData.endTime" name="eventEndTime" inputmode="numeric" pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"  required>
                      <mat-error *ngIf="!eventEndTime">Endzeit wird benötigt</mat-error>
                    </mat-form-field>
                  </p>
                </div>
                <div>
                  <p>
                    <mat-form-field appearance="fill" style="position: relative; width: 47.5%; float: left">
                      <mat-label>Startdatum des Events (MM/DD/YY)</mat-label>
                      <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="eventStartDate" name="eventStartDate" required>
                      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #startDatePicker></mat-datepicker>
                      <mat-error *ngIf="!eventStartDate">Datum wird benötigt</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field appearance="fill" style="position: relative; width: 47.5%; float: left; padding-left: 5%">
                      <mat-label>Enddatum des Events (MM/DD/YY)</mat-label>
                      <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="eventEndDate" name="eventEndDate" required>
                      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatePicker></mat-datepicker>
                      <mat-error *ngIf="!eventEndDate">Datum wird benötigt</mat-error>
                    </mat-form-field>
                  </p>
                </div>
                <p>
                  <mat-form-field appearance="fill" style="position: relative; width: 100%">
                    <mat-label>Ort</mat-label>
                    <input matInput placeholder="Veranstaltungsort" [(ngModel)]="eventData.location" name="eventLocation" required>
                    <mat-error *ngIf="!eventLocation">Veranstaltungsort wird benötigt</mat-error>
                  </mat-form-field>
                </p>
                <div style="display:flex; justify-content: center">
                  <p>
                    <mat-slide-toggle color="primary" style="position: relative" [(ngModel)]="eventData.isPublic" name="eventIsPublic">Event in der Organisation öffentlich</mat-slide-toggle>
                  </p>
                </div>
                <div style="display:flex; justify-content: center">
                  <p>
                    <button mat-raised-button type="submit" [disabled]="!eventData.name || !eventData.description || !eventStartDate || !eventEndDate || !eventData.location || !eventData.startTime || !eventData.endTime || !eventData.type" class = "submit-button">Änderungen übernehmen</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>

  </div>
</div>
<app-add-user-to-event *ngIf="showAddUsertoEvent" (onCloseAddUser)="closeAddUsertoEvent()"></app-add-user-to-event>
</html>


