<!doctype html>
<html>
<div class ="popup-background">


  <div class="popup">
        <button mat-fab (click)="closeCard()" class = "close-Button">
          <mat-icon class ="close-Icon">close</mat-icon>
        </button>

      <img mat-card-image src="{{eventData.image}}">

      <mat-tab-group class="tab-group">
        <mat-tab label="Eventkarte">
          <h1>{{eventData.name}}</h1>
          <h2>Beschreibung</h2>
          <p>{{eventData.description}}</p>
          <h2>Zeit</h2>
          <p>
            Beginnt am {{eventData.startDate | date: 'dd.MM.yyyy'}} um {{eventData.startTime}}
          </p>
          <p>
            Endet am {{eventData.endDate | date: 'dd.MM.yyyy'}} um {{eventData.endTime}}
          </p>
          <h2>Ort</h2>
          <p>
            {{eventData.location}}
          </p>
        </mat-tab>
        <mat-tab label="Eventguide">
          Content 2
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <span (click)="editCard()">Event verwalten</span>
          </ng-template>
          <div *ngIf="isEditing" class = "editForm">
            <p>Titel des Events</p>
            <mat-form-field >
              <input matInput placeholder="Titel" [(ngModel)]="eventData.name">
            </mat-form-field >
            <p>Beschreibung des Events</p>
            <mat-form-field class = "descriptionField">
              <textarea matInput placeholder="Beschreibung" [(ngModel)]="eventData.description">
              </textarea>
            </mat-form-field>
            <p>Teilnehmer</p>
            <mat-grid-list cols = "4" rowHeight="7:1">
              <mat-grid-tile  *ngFor="let attendee of attendees" class = "listAttendee">
                <div class = "listAttendeeItems">
                  {{attendee.valueOf()}}
                </div>
              </mat-grid-tile>
            </mat-grid-list>
            <div>
              <button mat-mini-fab (click) = "addUser()" class = "addPerson">
                <mat-icon >person_add</mat-icon>
              </button>
            </div>

            <button mat-button (click)="onSave()">Speichern</button>
            <button mat-button (click)="onCancel()">Abbrechen</button>
          </div>
        </mat-tab>
      </mat-tab-group>

  </div>
</div>

</html>


