<!doctype html>
<html>

<div class ="popup-background">
  <div class="popup">
    <div class="heading">
      <button mat-fab (click)="closeOrganisationBannerUpload()" class = "close-Button">
        <mat-icon class ="close-Icon">close</mat-icon>
      </button>
      <h2>Organisationsbanner hochladen</h2>
    </div>
    <div class="content">
      <ngx-mat-file-input  [formControl]="fileControl" [multiple]="false" [accept]="accept" style="float: right; margin-right: 45px">
      </ngx-mat-file-input>
    </div>

  </div>

</div>
</html>
