<!doctype html>
<html>
  <header>

  </header>
  <body>
  <div class="banner-dropdown">
    <img src="../../assets/images/Banner.png" alt="Banner" class="banner-image" (click)="toggleDropdownBanner($event)">
    <div class="dropdown-content-Banner" [ngClass]="{'show': isDropdownOpenBanner}" [style.top.px]="dropDownTop" [style.left.px]="dropDownLeft">
      <a routerLink="/logout">Organisations 1</a>
      <a routerLink="/settings">Organisation 2</a>
      <a routerLink="/organisation-catalog">Organisationen durchsuchen</a>
    </div>
  </div>



    <nav>
      <div class="nav-menu">
        <div class="left-items">
          <a routerLink="/homepage" class="nav-item">Start</a>
          <a routerLink="/event-catalog" class="nav-item">Eventkatalog</a>
          <a routerLink="/my-events" class="nav-item">Meine Events</a>
          <a routerLink="/management" class="nav-item">Verwaltung</a>
        </div>
        <div class="right-items">


          <div class="profile-dropdown" (click)="toggleDropdown()">
            <a routerLink="/profile" class="nav-item">Profil</a>
            <div class="dropdown-content" [ngClass]="{'show': isDropdownOpen}">
              <a routerLink="/logout">Logout</a>
              <a routerLink="/settings">Einstellungen</a>
              <a routerLink="/help">Hilfe</a>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </body>
</html>

