.popup {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translateX(-55%);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 90%;
  border-radius: 10px;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.dashboard-card {
  width: 95%;
  height: 89%;
  border-radius: 1%;
  margin: 1%;
  bottom: 1%;
  position: fixed;
  align-self: center;
  overflow: auto
}
.heading {
  height: 10%;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 999;
}
.close-Button{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: firebrick;
  color: white;
  z-index: 999;
}
.close-Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.submit-button{
  font-weight: bolder;
  font-size: larger;
  float: right;
  bottom: 3%;


}
mat-icon{
  margin: auto;
}
mat-grid-list{

}
.form{

}
.basic-container{

}
mat-card{
  width: 60%;
}
mat-grid-tile{
  width: 100%;

}
mat-form-field{
  align-content: center;
}
.form-div{
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-div p {
  margin-bottom: 5px;
}
