.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  down: 50%;
  rigth: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px ;
  width: 70%;
  height: 80%;
}
.popup-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Hier kannst du die Farbe anpassen */
  z-index: 999;
}
.close-Button{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: firebrick;
  color: white;
}
.close-Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.submit-button{
  font-weight: bolder;
  font-size: larger;
  position: center;

}
mat-icon{
  margin: auto;
}
mat-grid-list{

}
.form{

}
.basic-container{

}
mat-card{
  width: 60%;
}
mat-grid-tile{
  width: 100%;

}
mat-form-field{
  align-content: center;
}
-form-div{

}

