<!doctype html>
<html>
<mat-toolbar>
  <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText">
  <button class="search-icon" mat-icon-button disabled>
    <mat-icon>search</mat-icon>
  </button>
  <!--button class ="filter-icon"mat-icon-button>
    <mat-icon>filter_list</mat-icon>
  </--button-->
</mat-toolbar>
<div class="basic-container">
  <mat-grid-list cols="2" rowHeight="100px" gutterSize="15px" class="layoutGrid" >
    <mat-grid-tile *ngFor="let event of filterEvents()"  class ="layoutGridTile" >
      <mat-card [style.width]="'100%'" (click)="onCardClick($event)" class = "card">
        <img mat-card-sm-image src="{{event.image}}" alt = "" class = "mat-card-image">
        <div class="card-content">
          <mat-card-header>{{event.name}}</mat-card-header >
          <mat-card-content>{{event.description}}</mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
<div>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

</html>
