<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <div class="event-catalog-toolbar">
      <div class="search-bar">
        <input class="search-control" type="text" placeholder="Suche" [(ngModel)]="eventSearchText">
          <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>
  <div class="basic-container">
    <mat-grid-list cols="2" rowHeight="6:1" gutterSize="15px" class="layoutGrid" >
      <mat-grid-tile *ngFor="let event of filterEvents()"  class ="layoutGridTile" >
        <mat-card [style.width]="'100%'" (click)="openCard(event)" class = "card">
          <img mat-card-sm-image src="{{event.image}}" alt = "" class = "mat-card-image">
          <div class="card-content">
            <mat-card-header class = "card-header">{{event.name}}</mat-card-header >
            <mat-card-content class = "card-content1">{{event.description}}</mat-card-content>
            <mat-card-content class = "card-content2">
              <mat-icon>person</mat-icon>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
    <app-event-card-invitation *ngIf = "showInvitationCard" (onCloseInvitationCard)="closeCard()"></app-event-card-invitation>
</html>
