.popup {
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px ;
  width: 25%;
  height: 10%;
  z-index: 1000;
  top: 20%;
  left: 30%;

}

.popup-background{
  position: fixed;
  top: 0;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-Button{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 1.25%;
  right: 0.5%;
  background-color: firebrick;
  color: white;
}

.close-Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

mat-icon{
  margin: auto;
}

mat-form-field {
  width: 70%;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input {
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
}

.add-Group-Button {
  width: 30%;
  margin-left: 10px;
  border: none;
}
