<div class ="popup-background">
  <div class="popup">
    <h1>Personen zum Event einladen</h1>
    <button mat-fab (click)="closeAddUserToEventCard()" class = "close-Button">
      <mat-icon class ="close-Icon">close</mat-icon>
    </button>

    <div>
      <mat-accordion class="headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>
                Mitglieder der Organisation
              </h3>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>person</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
          </mat-action-row>
          <mat-table [dataSource]="usersOfOrgaDataSource" matSort class = "">
            <ng-container matColumnDef="FirstName">
              <mat-header-cell *matHeaderCellDef>Vorname</mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.firstname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="LastName">
              <mat-header-cell *matHeaderCellDef>Nachname</mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.lastname}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="eMail">
              <mat-header-cell *matHeaderCellDef>E-Mail-Adresse</mat-header-cell>
              <mat-cell *matCellDef="let user">{{user.emailAdress}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
              <mat-cell *matCellDef="let user; let i=index">
                <button mat-raised-button (click)="inviteUser(user, i)">
                  einladen
                </button>
                <mat-checkbox [(ngModel)]="isTutor[i]" color="primary">Als Tutor einladen</mat-checkbox>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="usersOfOrgaDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: usersOfOrgaDisplayedColumns;"></mat-row>
          </mat-table>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>
                Gruppen der Organisation
              </h3>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>groups</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-action-row>
          </mat-action-row>
          <mat-table [dataSource]="groupsOfOrgaDataSource" matSort class = "">
            <ng-container matColumnDef="Name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let group">{{group.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Aktionen</mat-header-cell>
              <mat-cell *matCellDef="let group">
                <button mat-raised-button (click)="inviteGroup(group)">
                  einladen
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="groupsOfOrgaDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: groupsOfOrgaDisplayedColumns;"></mat-row>
          </mat-table>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>
                Externe Personen
              </h3>
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>person_add</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-action-row>
          </mat-action-row>
          <mat-form-field appearance="fill">
            <mat-label>E-Mail Addresse</mat-label>
            <input matInput [(ngModel)]="externEmail">
          </mat-form-field>
          <button mat-raised-button (click)="inviteExtern()">
            einladen
          </button>
          <mat-checkbox [(ngModel)]="isExternTutor" color="primary">Als Tutor einladen</mat-checkbox>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
