<!doctype html>
<html>
<div class="popup">
  <button mat-fab (click)="closeCard()" class = "close-Button">
    <mat-icon class ="close-Icon">close</mat-icon>
  </button>

  <img mat-card-image src="../../assets/images/nature.jpg">

  <mat-tab-group class="tab-group">
    <mat-tab label="Eventkarte">
      <h1>Tobias Hahn</h1>
      <p>theonandonlyhahn</p>
      <p>Nutzerinformationen:</p>
      <p>
         E-Mail: tobihahn@ftb-solutions.de
      </p>

    </mat-tab>
  </mat-tab-group>

</div>
</html>


