<!doctype html>
<html>

<mat-accordion class="headers-align" multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>
          Meine Organisationen
        </h3>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>person</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
    </mat-action-row>

    <div class="organisation-catalog-toolbar">
      <div class="search-bar">
        <input class="search-control mat-elevation-z3" type="text" placeholder="Suche" [(ngModel)]="myOrgaSearchText">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>

    <div class="basic-container">
      <mat-grid-list cols="2" rowHeight="10em" gutterSize=".5em" class="layoutGrid" >
        <mat-grid-tile *ngFor="let item of usersOrganisations | filter: myOrgaSearchText" class ="layoutGridTile mat-elevation-z8" >
          <mat-card [style.width]="'100%'" (click)="onCardClick($event)" (click)="openMyOrganisation(item)" class = "card" >
            <img mat-card-sm-image src="{{backendURL+item.image}}" onerror="this.src='../../assets/images/OrgaBanner.png'" alt = "" class = "mat-card-image">
            <div class="card-content">
              <mat-card-header>{{item.name}}</mat-card-header >
              <mat-card-content>{{item.location}}</mat-card-content>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>
          Alle Organisationen
        </h3>
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>groups</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
    </mat-action-row>

    <div class="organisation-catalog-toolbar">
      <div class="search-bar">
        <input class="search-control mat-elevation-z3" type="text" placeholder="Search" [(ngModel)]="allOrgaSearchText">
        <mat-icon class="search-icon">search</mat-icon>
      </div>
    </div>

    <div class="basic-container">
      <mat-grid-list cols="2" rowHeight="10em" gutterSize=".5em" class="layoutGrid" >
        <mat-grid-tile *ngFor="let item of allOrganisations | filter: allOrgaSearchText" class ="layoutGridTile mat-elevation-z8" >
          <mat-card [style.width]="'100%'" (click)="onCardClick($event)" (click)="openOrganisation(item)" class = "card" >
            <img mat-card-sm-image src="{{backendURL+item.image}}" onerror="this.src='../../assets/images/OrgaBanner.png'" alt = "" class = "mat-card-image">
            <div class="card-content">
              <mat-card-header>{{item.name}}</mat-card-header >
              <mat-card-content>{{item.location}}</mat-card-content>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-expansion-panel>
</mat-accordion>

    <app-organisation-card-registered *ngIf = "showMyOrganisation" (onClose)="closeMyOrganisation()"></app-organisation-card-registered>
    <app-organisation-card *ngIf = "showOrganisation" (onClose) ="closeOrganisation()"></app-organisation-card>

</html>
