<!doctype html>
<html>
<div class="popup">
  <button mat-fab (click)="closeCard()" class = "close-Button">
    <mat-icon class ="close-Icon">close</mat-icon>
  </button>

  <img mat-card-image src="../../assets/images/nature.jpg">

  <div class = "tab-group">
    <h1>{{orgaData.name}}</h1>
    <p>{{orgaData.location}}</p>
  </div>

  <div class = "action-Buttons">
    <button mat-raised-button (click)="registerInOrganisation()" class="action-Button">
      Registrieren
    </button>
  </div>
</div>
</html>
